<!doctype html>
<head>
  <title>Falangafone</title>
  <link rel="stylesheet" type="text/css" href="static/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/styles.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="static/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/main.js"></script>
</head>
<script>
 (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.src = 'http://assets.gfycat.com/js/gfyajax-0.517d.js';
    s.parentNode.insertBefore(g, s);
}(document, 'script'));
</script>

<body>
  <header class="intro container-fluid">
    <div class="container">
      <div class="row">
          <div class="col-sm-4">
              <h1 class="brand-heading"><a href="/">Falangafone</a></h1>
          </div>
      </div>
    </div>
  </header>
      <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Controlling Sound with Falangafone</h1>
                <p>Falangafone utilizes a variety of intuitive hand and finger gestures to enable users to shape music in unprecedented ways. In the following passages, we will introduce
                  the hand and finger movements that Falangafone observes.</p>

                <h3>Moving Hands Up and Down</h3>
                <img class="gfyitem" data-id="RipeFrequentCaracal" />
                <p>By moving their hands up and down, users can modify the volume of playback.
                Raising your hands above the Leap Motion increases the volume, and bringing your
                hands down closer to the Leap decreases the volume.</p>

                <h3>Rolling Hands Outwards and Inwards</h3>
                <img class="gfyitem" data-id="AngelicLinearGoshawk" />
                <p>By rolling their hands outwards and inwards, users can modify the speed (and implicitly, pitch) of playback.
                Rolling your hands outwards increases the speed and pitch, and rolling them inwards decreases the speed and pitch.</p>

                <h3>Bending Fingers</h3>
                <img class="gfyitem" data-id="ImpracticalSafeAustraliansilkyterrier" />
                <p>By bending each of their fingers, users can adjust the gains of each of five equalizer bands. The thumb corresponds to bass,
                the index finger affects mid-bass, the middle finger affects midrange,
                the ring finger affects mid-highs, and the little finger affects highs.</p>
            </div>
        </div>
    </section>
</body>
