<!doctype html>
<head>
  <title>Leap Music</title>
  <link rel="stylesheet" type="text/css" href="static/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/styles.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="static/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/main.js"></script>
</head>

<body>
  <header class="intro">
      <div class="intro-body">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                      <h1 class="brand-heading">Leap Music</h1>
                      <p class="intro-text">Control your music with Leap Motion -- Select a song and a profile to begin.</p>
                  </div>
              </div>
              <div class="row row-centered">
                  <div class="form-group col-lg-2 col-lg-offset-1">
                    <select class="form-control">
                        <option value="callmemaybe">Call Me Maybe - Carly Rae Jepsen</option>
                        <option value="maps">Maps - Maroon 5</option>
                        <option value="trolololol">Trololo - Eduard Khil</option>
                        <option value="furelise">Für Elise - Ludwig van Beethoven</option>
                        <option value="supermassiveblackhole">Supermassive Black Hole - Muse</option>
                    </select>
                  </div>
                  Profile: <div class="form-group col-lg-1 col-centered">
                    <select class="form-control">
                        <option value="one">One</option>
                        <option value="two">Two</option>
                        <option value="three">Three</option>
                        <option value="four">Four</option>
                        <option value="five">Five</option>
                    </select>
                  </div>
              </div>
              <div class="row row-centered">
                <div class="col-xs-12">
                  <p>Volume: <span id="height"></span></p>
                </div>
              </div>
              <div class="row row-centered">
                <div class="col-xs-2 col-xs-offset-1">.col-xs-2</div>
                <div class="col-xs-2">.col-xs-2</div>
                <div class="col-xs-2">.col-xs-2</div>
                <div class="col-xs-2">.col-xs-2</div>
                <div class="col-xs-2">.col-xs-2</div>

              </div>
          </div>
      </div>
  </header>
</body>
