<!doctype html>
<head>
  <title>Leap Music</title>
  <link rel="stylesheet" type="text/css" href="static/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/styles.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="static/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/main.js"></script>
</head>

<body>
  <header class="intro container-fluid">
    <div class="container">
      <div class="row">
          <div class="col-sm-4">
              <h1 class="brand-heading">Leap Music</h1>
          </div>
          <div class="col-sm-8">
              <p class="description">Control your music with Leap Motion -- Select a song to begin. </br> Want to know what each gesture does? Click <a href="about.html">here</a>.</p>
          </div>
      </div>
    </div>
  </header>
  <section class="container-fluid song">
    <div class="row row-centered">
        Song: <span id="song">Call Me Maybe - Carly Rae Jepsen</span>
    </div>
  </section>
  <section class="container content">
    <div class="row row-centered">
      <div class="col-xs-6">
        <p>Volume: <span id="volume"></span></p>
      </div>
      <div class="col-xs-6">
        <p>Speed: <span id="speed"></span></p>
      </div>
    </div>
    <div class="row row-centered">
      <div class="col-xs-2 col-xs-offset-1">.col-xs-2</div>
      <div class="col-xs-2">.col-xs-2</div>
      <div class="col-xs-2">.col-xs-2</div>
      <div class="col-xs-2">.col-xs-2</div>
      <div class="col-xs-2">.col-xs-2</div>

    </div>
  </span>
</body>
